<div class="modal-content">
    <div class="modal-header" ng-dblclick="$debug = !$debug">
        <h4 class="modal-title">
            Actor {{ info.id }}
        </h4>
    </div>

    <div ng-if="$debug" style="max-height: 420px; overflow-y: auto;">
        <pre>
actorId = {{ actorId | json}}
loading = {{ loading | json}}
info = {{ info | json}}
        </pre>
    </div>


    <div class="modal-body" ng-if="!$debug">

        <div class="row-fluid">
            <div class="span4">State:</div>
            <div class="span8">{{ info.state }}</div>
        </div>
        <div class="row-fluid">
            <div class="span4">Last poll:</div>
            <div class="span8">{{ info.metrics['poll'].lastTime > 0? (info.metrics['poll'].lastTime
                | date: 'HH:mm:ss dd.MM.yyyy'): '-'}}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">Last poll with task:</div>
            <div class="span8">{{ info.metrics['successfulPoll'].lastTime > 0? (info.metrics['successfulPoll'].lastTime
                | date: 'HH:mm:ss dd.MM.yyyy'): '-'}}
            </div>
        </div>
        <div class="row-fluid"
             popover="Elapsed time since last polled task was placed to the queue"
             popover-trigger="mouseenter">
            <div class="span4">Queue age:</div>
            <div class="span8">{{ info.queueTime }}</div>
        </div>
        <div class="row-fluid">
            <div class="span4">Queue size:</div>
            <div class="span8">{{ info.queueSize }}</div>
        </div>
        <div class="row-fluid">
            <div class="span4">Delayed queue size:</div>
            <div class="span8">{{ info.queueDelaySize }}</div>
        </div>
        <div class="row-fluid">
            <div class="span4">Mean exe time:</div>
            <div class="span8">{{ info.metrics['executionTime'].day.mean || info.metrics['executionTime'].hour.mean }}
                mls
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">Mean exe time Error:</div>
            <div class="span8">{{ info.metrics['errorDecision'].day.mean || info.metrics['errorDecision'].hour.mean}}
                mls
            </div>
        </div>

        <h5>Metrics</h5>

        <table class="table table-striped table-bordered table-items">
            <thead>
            <tr>
                <th>Metric</th>
                <th>Hour</th>
                <th>Day</th>
                <th>Last</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(name, value) in info.metrics">
                <td>{{ name }}</td>
                <td ui-sref="metrics({metric: name, scope: 'local', type: 'rate', period: '1hour', dataset: quotes(info.id), showDataset: 1, legend: 'nw', points: 1 })"
                    class="btn-link" ng-click="ok();">
                    <div popover="from {{value.hour.timeMin | date: 'HH:mm:ss dd.MM.yyyy'}} to {{value.hour.timeMax | date: 'HH:mm:ss dd.MM.yyyy'}}"
                         popover-trigger="mouseenter">
                        {{ value.hour.count }}
                    </div>
                </td>
                <td ui-sref="metrics({metric: name, scope: 'local', type: 'rate', period: '24hours', dataset: quotes(info.id), showDataset: 1, legend: 'nw', points: 1 })"
                    class="btn-link" ng-click="ok();">
                    <div popover="from {{value.day.timeMin | date: 'HH:mm:ss dd.MM.yyyy'}} to {{value.day.timeMax | date: 'HH:mm:ss dd.MM.yyyy'}}"
                         popover-trigger="mouseenter">
                        {{ value.day.count }}
                    </div>
                </td>
                <td>{{ value.lastTime > 0? (value.lastTime | date: 'HH:mm:ss dd.MM.yyyy'): '-' }}</td>
            </tr>
            </tbody>
        </table>

        <div ng-show="info.inProgressTasks">

            <h5>10 in progress tasks</h5>

            <table class="table table-striped table-bordered table-items">
                <tbody>
                <tr ng-repeat="task in info.inProgressTasks">
                    <td ui-sref="task({taskId: task.taskId, processId:task.processId})" class="btn-link"
                        ng-click="ok();">{{ task.taskId }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <div style="float: left;">
            <img id="loading" src="/img/loader-arrows.gif" style="display: none;"/>
            <a class="btn btn-small" ng-click="reload()"
               popover="Refresh" popover-trigger="mouseenter">
                <i ng-hide="loading == true" class="icon-refresh"></i>
                <img ng-show="loading == true" src="/img/loader-arrows.gif"/>
            </a>
        </div>
        <button class="btn btn-success" type="button" ng-click="ok();">OK</button>
    </div>
</div>