<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4r [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>recipes.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4r [%t] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

	<logger name="ru.taskurotta" level="DEBUG" />
    <logger name="org.springframework" level="OFF"/>

	<root>
		<appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
	</root>

</configuration>
