<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:property-placeholder />

    <bean id="runtimeProvider" class="ru.taskurotta.RuntimeProviderManager" factory-method="getRuntimeProvider"/>

    <bean id="worker" class="ru.taskurotta.recipes.darg.worker.DArgWorkerImpl" >
        <property name="arbiter" ref="arbiter" />
    </bean>


    <bean id="decider" class="ru.taskurotta.recipes.darg.decider.DArgDeciderImpl">
        <property name="workerClient">
            <bean class="ru.taskurotta.ProxyFactory" factory-method="getWorkerClient">
                <constructor-arg value="ru.taskurotta.recipes.darg.worker.DArgWorkerClient"/>
            </bean>
        </property>
        <property name="selfAsync">
            <bean class="ru.taskurotta.ProxyFactory" factory-method="getAsynchronousClient">
                <constructor-arg value="ru.taskurotta.recipes.darg.decider.DArgDeciderImpl"/>
            </bean>
        </property>
        <property name="arbiter" ref="arbiter" />
    </bean>

    <bean id="clientServiceManager" class="ru.taskurotta.client.memory.ClientServiceManagerMemory"/>

    <bean id="taskCreator" class="ru.taskurotta.recipes.darg.Launcher" init-method="launch">
        <property name="clientServiceManager" ref="clientServiceManager" />
    </bean>

    <bean id="arbiter" class="ru.taskurotta.recipes.darg.DArgArbiter" factory-method="createArbiter" init-method="init">
        <constructor-arg name="stages">
            <list>
                <value>start</value>
                <value>getParamDecider, getParamWorker</value>
                <value>getNumberWorker, getNumberWorker, useParam</value>
            </list>
        </constructor-arg>
        <property name="strictFlowCheck" value="true" />
    </bean>

</beans>