<div>
    <div class="well">
        <div class="muted" style="width:100%;text-align: center;">
            <h4>{{ params.title || 'Are you sure?' }}</h4>
            <p ng-if="params.message"><small>{{ params.message }}</small></p>
        </div>
        <table class="table" width="100%">
            <tr>
                <td style="text-align: center;width:50%;vertical-align: middle;">
                    <button class="btn" ng-click="close(true)">Yes</button>
                </td>
                <td style="text-align: center;vertical-align: middle;">
                    <button class="btn" ng-click="cancel()">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
</div>