<div style="display: block; height: 50px">
    <div style="float:left">
        <div>
            <span ng-hide="refreshRate > 0" class="muted">Auto refreshes </span>
            <span ng-show="refreshRate > 0" class="text-success" style="text-decoration: underline;">Auto refreshes </span>
            <span class="muted">every:</span>
            <select ng-model="refreshRate" style="height:30px;width:55px;"
                    ng-options="rr for rr in refreshRates" ng-change="reload()"/>
            <span class="muted">seconds</span>
        </div>

    </div>

    <ng-transclude></ng-transclude>

    <div style="float: right;">
        <img id="loading" src="/img/loader-arrows.gif" style="display: none;"/>
        <a class="btn btn-small" ng-click="reload()"
           popover="Refresh list" popover-trigger="mouseenter">
            <i ng-hide="model.$resolved === false" class="icon-refresh"></i>
            <img ng-show="model.$resolved === false"src="/img/loader-arrows.gif"/>
            <!--<img ng-show="model.$resolved === false"src="/img/ajax-loader.gif"/>-->
        </a>

    </div>

</div>