<div ng-if="messageEvent" class="alert {{ messageEvent.level }}">
    <h5>{{ messageEvent.title }}</h5>
    <table ng-show="messageEvent.message" class="table" style="color:black">
        <tr>
            <td><b>{{messageEvent.message | json }}</b></td>
            <td ng-if="messageEvent.detail">
                <span ng-click="messageEvent.$detail = !messageEvent.$detail" style="cursor:pointer;">
                   <span ng-hide="messageEvent.$detail" class="muted">
                    <i class="icon-chevron-down" popover="Show config" popover-trigger="mouseenter"
                       popover-placement="left"></i>
                   </span>
                  <span ng-show="messageEvent.$detail" class="muted">
                    <i class="icon-chevron-up" popover="Hide config" popover-trigger="mouseenter"
                       popover-placement="left"></i>
                  </span>
                </span>
            </td>
        </tr>
        <tr ng-if="messageEvent.detail">
            <td>
                <div collapse="!messageEvent.$detail" style="font-size: smaller">
                    <pre ng-if="messageEvent.detail" class="muted">{{ messageEvent.detail }}</pre>
                    <pre ng-if="messageEvent.detailObject">{{ messageEvent.detailObject | json }}</pre>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>