<div>
    <div style="float: left;margin: 5px;">
        <span class="muted" style="margin-left: 5px; margin-right: 5px; font-size: 10px;">value: </span>
        <br />
        <input ng-model="model.value" type="text" class="input-large search-query"/>
    </div>

    <div style="margin: 5px;">
        <span class="muted" style="margin-left: 5px; margin-right: 5px;font-size: 10px;">type: </span>
        <br />
        <select ng-model="model.type" ng-options="type for type in types" style="width: 80px"></select>
    </div>
</div>