<div>
    <div class="well">
        <div class="page-header">
            <h1>Taskurotta console</h1>

            <p style="margin-left: 10px;">
                <small>Server version: <b>{{serverVersion}}</b>, started <b>{{startupDate | date:'dd.MM.yyyy HH:mm:ss'}}</b></small>
            </p>

        </div>
    </div>

    <div class="well">
        <div style="margin-bottom: 10px;">
            <span class="icon-question-sign"
                  popover="These configuration details are specific for the local cluster node only"
                  popover-trigger="mouseenter"></span>
            <b>Node configuration details:</b>
        </div>

        <table>
            <tr>
                <td>
                    <div style="width:100%; text-align: left; margin: 0px 0px 10px 0px;">
                            <span style="cursor: pointer;" ng-click="configInvisible = !configInvisible">
                                <span ng-if="configInvisible" class="muted"><b>Show configs </b><i
                                        class="icon-chevron-down"/></span>
                                <span ng-if="!configInvisible" class="muted"><b>Hide configs </b><i
                                        class="icon-chevron-up"/></span>
                            </span>
                    </div>
                    <div collapse="configInvisible">
                        <div style="background-color: #ffffff; padding: 5px;">
                            <table class="table-bordered table-condensed table-striped">
                                <tr ng-repeat="(k, v) in serverServicesBeans">
                                    <td>
                                        <small><b>{{k}}:</b></small>
                                    </td>
                                    <td>
                                        <small><i>{{v}}</i></small>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width:100%; text-align: left;margin: 0px 0px 10px 0px;">
                            <span style="cursor: pointer;" ng-click="propsInvisible = !propsInvisible">
                                <span ng-if="propsInvisible" class="muted"><b>Show properties </b><i
                                        class="icon-chevron-down"/></span>
                                <span ng-if="!propsInvisible" class="muted"><b>Hide properties </b><i
                                        class="icon-chevron-up"/></span>
                            </span>
                    </div>
                    <div collapse="propsInvisible">
                        <div style="background-color: #ffffff; padding: 5px;">
                            <table class="table-bordered table-condensed table-striped">
                                <tr ng-repeat="(k, v) in properties">
                                    <td>
                                        <small><b>{{k}}:</b></small>
                                    </td>
                                    <td>
                                        <small><i>{{v}}</i></small>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
