<div page-header="Task: {{task.actorId}} - {{ taskParams.taskId}}" ng-dblclick="$debug = !$debug">
    <div ng-if="$debug" style="width: 100%">
        <pre>
formParams = {{ formParams | json }}
resourceParams = {{ resourceParams | json}}
task= {{ task | json}}
taskDecision= {{ taskDecision | json}}
        </pre>
    </div>
</div>

<page-message></page-message>

<div ng-show="task.taskId">

    <div class="well">
        <div>
            <div style="float: left;">
                <h5>Properties:</h5>
            </div>
            <div style="float: right; margin-bottom: 5px;" ng-show="taskDecision.errorContainer.fatalError">
                <button ng-click="restart(task)" title="Try to restart the task" popover-trigger="mouseenter">
                    <i class="icon-retweet"></i>
                </button>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <td class="form-header">Process id:</td>
                <td><a ui-sref="process({processId:task.processId})">{{task.processId}}</a></td>
            </tr>
            <tr>
                <td class="form-header">Method:</td>
                <td>{{task.method}}</td>
            </tr>
            <tr>
                <td class="form-header">Actor id:</td>
                <td>
                    <a ui-sref="actor({actorId: getFullActorId(task)})" class="btn-link"
                       style="display: block; width: 100%;">{{getFullActorId(task)}}</a>
                </td>
            </tr>
            <tr ng-if="task.pass">
                <td class="form-header">Pass:</td>
                <td>{{task.pass}}</td>
            </tr>
            <tr>
                <td class="form-header">Type:</td>
                <td>{{task.type}}</td>
            </tr>
            <tr>
                <td class="form-header">Start time:</td>
                <td>{{ task.startTime | dateTime }}</td>
            </tr>
            <tr>
                <td class="form-header">Error attempts:</td>
                <td>{{task.errorAttempts}}</td>
            </tr>
            <tr>
                <td class="form-header">Unsafe:</td>
                <td>{{task.unsafe}}</td>
            </tr>
            <tr ng-if="task.failTypes">
                <td class="form-header">failTypes:</td>
                <td>{{task.failTypes}}</td>
            </tr>
            <tr>
                <td class="form-header">Args:</td>
                <td tree-properties="task.args">
                </td>
            </tr>
            <tr ng-if="task.options">
                <td class="form-header">Options:</td>
                <td tree-properties="task.options">
                </td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h5>Decision:</h5>
        <div ng-hide="taskDecision.taskId" class="alert alert-warning">Task have not been released.</div>
        <table ng-show="taskDecision.taskId" class="table table-striped">
            <tr>
                <td class="form-header" style="width: 100px">Released with exception:</td>
                <td>
                    <div ng-hide="taskDecision.errorContainer">false</div>
                    <table ng-show="taskDecision.errorContainer" class="table table-striped">
                        <tr>
                            <td class="form-header" style="width: 100px">Fatal error:</td>
                            <td>{{ taskDecision.errorContainer.fatalError }}</td>
                        </tr>
                        <tr>
                            <td class="form-header" style="width: 100px">Message:</td>
                            <td>{{ taskDecision.errorContainer.message }}</td>
                        </tr>
                        <tr>
                            <td class="form-header" style="width: 100px">Stack trace:</td>
                            <td>
                                <pre>{{ taskDecision.errorContainer.stackTrace }}</pre>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr ng-if="taskDecision.restartTime > 0">
                <td class="form-header">Restart time:</td>
                <td>{{taskDecision.restartTime | dateTime }}</td>
            </tr>
            <tr>
                <td class="form-header">Created tasks:</td>
                <td>{{taskDecision.tasks.length || "none"}}</td>
            </tr>
            <tr>
                <td class="form-header">Value:</td>
                <td tree-properties="taskDecision.value"><pre>
                </pre>
                </td>
            </tr>
        </table>
    </div>

    <div class="well">
        <h5>Task tree:</h5>
        <div task-tree-table="taskTree" process-task="task"></div>
    </div>

</div>