<div>
    <table class="table table-condensed">
        <tr>
            <td>
                <i class="icon-question-sign" popover="ActorId of the actor to trigger." popover-trigger="mouseenter"></i>
                <b>ActorId:</b>
            </td>
            <td>
                <input class="input-large search-query" type="text" ng-model="task.actorId" required/>
            </td>
        </tr>
        <tr>
            <td>
                <i class="icon-question-sign" popover="Method of the actor to trigger." popover-trigger="mouseenter"></i>
                <b>Method name:</b>
            </td>
            <td>
                <input class="input-large search-query" type="text" ng-model="task.method" required/>
            </td>
        </tr>
        <tr>
            <td>
                <i class="icon-question-sign" popover="Type of the actor to trigger." popover-trigger="mouseenter"></i>
                <b>Actor type:</b>
            </td>
            <td>
                <select ng-model="task.type" ng-options="type for type in types" required></i>
            </td>
        </tr>
        <tr>
            <td>
                <i class="icon-question-sign" popover="Specify task list if any." popover-trigger="mouseenter"></i>
                <b>Task list:</b>
            </td>
            <td>
                <input class="input-large search-query" type="text" ng-model="job.taskList"/>
            </td>
        </tr>

        <tr>
            <td>
                <i class="icon-question-sign"
                   popover="Arguments for the scheduled task. Only primitive and string values are allowed at the moment."
                   popover-trigger="mouseenter"></i>
                <b>Arguments:</b>
            </td>
            <td>
                <table width="100%" class="table table-bordered table-condensed">
                    <tr>
                        <td colspan="4" style="text-align: center">
                            <span ng-hide="task.args.length>0" class="muted">This task has no arguments. <br /> Press the 'plus' button below if you need to specify any.</span>
                        </td>
                    </tr>
                    <tr ng-if="task.args">
                        <td>№</td>
                        <td>Value:</td>
                        <td>Type:</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="arg in task.args">
                        <td>
                            {{ $index }}.
                        </td>
                        <td>
                            <input ng-model="arg.value" type="text" class="input-large search-query"/>
                        </td>
                        <td>
                            <select ng-model="arg.type" ng-options="argType for argType in argTypes" style="width: 80px"></select>
                        </td>
                        <td>
                            <button class="btn btn-small" ng-click="removeArgument($index)" popover="Remove this argument" popover-trigger="mouseenter">
                                <i class="icon-minus-sign"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center">
                            <button class="btn btn-small" ng-click="addArgument()" popover="Add task argument" popover-trigger="mouseenter">
                                <i class="icon-plus-sign"></i></button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>
