<div ng-if="taskTreeItems">
    <table style="background-color: #f5f5f5;padding:2px;" class="table table-bordered table-condensed">
        <tbody>
        <tr ng-repeat="node in taskTreeItems" ng-show="node.$visible()">
            <td nowrap>
                <span ng-style="node.$padding(10)">
                    <a ng-if="node.$children" ng-click="node.$toggle()">
                        <i class="icon-chevron-{{ node.$expanded ? 'down' : 'right' }}" popover-trigger="mouseenter"
                           popover="{{ node.$expanded ? 'Collapse' : 'Expand' }}"></i>
                    </a>
                </span>
                <small class="text-muted">({{ node.$num }})</small>
                <a ui-sref="task({processId:processTask.processId,taskId:node.id})" class="btn btn-link">
                    <small><b>{{ node.id }}</b></small>
                </a>
            </td>
            <td>
                <i class="{{ node.state | taskState:'icon' }}" popover="{{ node.state | taskState:'desc' }}"
                   popover-trigger="mouseenter"></i>
                <span class="muted">{{ node.desc }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>