<div page-header="{{ command.id ? 'Edit' : 'Create' }} scheduled task" ng-dblclick="$debug = !$debug">
    <div ng-if="$debug">
        <h6>{{ command | json }}</h6>
    </div>
</div>

<page-message></page-message>

<div class="well">
    <h5>Start task properties: </h5>
    <form class="form-horizontal form-bordered form-small" >
    <table class="table table-condensed table-noborder">
        <tr>
            <th>
                <div class="controls">Job properties:</div>
            </th>
            <th>
                <div class="controls"><h5>Task properties:</h5></div>
            </th>
        </tr>
        <tr>
            <td style="vertical-align: top; width: 430px;">
                    <div class="control-group">
                        <label class="control-label" for="job_name">Job name:</label>
                        <div class="controls">
                            <input id="job_name" class="input-xlarge" type="text" ng-model="command.name" required />
                            <i icon-info="Specify the human readable name of the job."
                               model="command.name" remove="command.name = null"></i>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="job_cron">Cron:</label>
                        <div class="controls">
                            <input id="job_cron" class="input-medium" type="text" ng-model="command.cron"
                                   ng-change="changeCron()" required />
                            <i ng-if="command.isCronValid === true" title="Valid cron expression" popover-trigger="mouseenter" class="icon-thumbs-up"></i>
                            <i ng-if="command.isCronValid === false" title="Incorrect cron expression" popover-trigger="mouseenter" class="icon-thumbs-down"></i>
                            <i icon-info="Cron expression to trigger task."></i>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="job_limit">Limit:</label>
                        <div class="controls">
                            <input id="job_limit" type="number" min="-1" class="input-mini"
                                   ng-model="command.limit" />
                            <i icon-info="Max active processes started by this task. If active processes count exceeds that value scheduler would just skip iteration. Use negative or zero value to disable this option."
                               model="command.limit" remove="command.limit = 0"></i>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="job_maxErrors">Max errors:</label>
                        <div class="controls">
                            <input id="job_maxErrors" type="number" min="-1" class="input-mini"
                                   ng-model="command.maxErrors" />
                            <i icon-info="The job would stop after exceeding this number of attempts to create task interrupted due to error. Note that it doesn't concern task execution on actor itself. Use negative or zero value to disable this option."
                               model="command.maxErrors" remove="command.maxErrors = 0"></i>
                        </div>
                    </div>
            </td>
            <td style="vertical-align: top;">
                <div task-form="command" task-types="types"></div>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <a class="btn" ng-click="save()" ng-disabled="!isValidForm()" ng-if="command.status != 1">Save scheduled task</a>
                <span ng-if="command.id > 0 && command.status == 1" class="alert alert-danger">You should stop job before edit
                    <a class="btn-link" ui-sref="schedules()">Back to list</a></span>
             </td>
        </tr>
    </table>

</div>