<div>
    <div class="well">
        <div class="muted" style="width:100%;text-align: center;">
            Are you sure?
            <div ng-if="description.length>0"><small>{{ description }}</small></div>
        </div>
        <table class="table" width="100%">
            <tr>
                <td style="text-align: center;width:50%;vertical-align: middle;">
                    <button class="btn" ng-click="$close(true)">Yes</button>
                </td>
                <td style="text-align: center;vertical-align: middle;">
                    <button class="btn" ng-click="$dismiss('cancel')">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
</div>