<div>
    <div class="well">
        <div style="width:100%">
            <div style=";text-align:left;float:left;"><b>Error</b></div>
            <div style="float:right;">
                <a ng-click="$dismiss('cancel')" style="cursor:pointer;" popover="Close" popover-trigger="mouseenter" popover-placement="left"><i class="icon-remove"></i></a>
            </div>
        </div>

        <div style="width:100%;text-align: center;overflow: auto;margin:5px;">
            <div class="well" style="text-align: left;">
                <small>
                    {{ stackTrace }}
                </small>
            </div>
        </div>

    </div>
</div>