<div>

    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>Actor metrics comparison</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-href="#/actors/list">Back to Actors</a></td>
        </tr>
    </table>
    <div ng-if="feedback.status>=500">
        <tsk-err-message model="feedback"></tsk-err-message>
    </div>


    <div class="well">
        <div class="muted"><b>Choose metrics to compare:</b></div>
        <table class="checkbox-group-table" cellspacing="0" cellpadding="0">
            <tr ng-repeat="startIdx in getMetricsRows(2)">
                <td>
                    <label class="checkbox" ng-if="metrics[startIdx]"><input type="checkbox" ng-model="selection.metric[metrics[startIdx]]">{{metrics[startIdx]}}</label>
                </td>
                <td>
                    <label class="checkbox" ng-if="metrics[startIdx+1]"><input type="checkbox" ng-model="selection.metric[metrics[startIdx+1]]">{{metrics[startIdx+1]}}</label>
                </td>
            </tr>
        </table>
    </div>

    <div class="well">
        <div class="muted" style="margin-bottom: 10px;"><b>Compare view:</b></div>

        <div style="float: right;">
            <img id="loading" src="/img/ajax-loader.gif" style="display: none;"/>
            <button class="btn btn-small" ng-click="update()" popover="Refresh table" popover-trigger="mouseenter"><i class="icon-refresh"></i></button>
        </div>

        <table class="table table-bordered">
            <thead>
            <th>Actor ID:</th>
            <th ng-repeat="sMetric in getSelectedMetricNames()">{{sMetric}}</th>
            <th width="40px;"></th>
            </thead>
            <tbody>
            <tr ng-repeat="actorId in actorIds">
                <td>
                    <small><b><i>{{actorId}}</i></b></small>
                </td>
                <td ng-repeat="sMetric in getSelectedMetricNames()">
                    <div ng-repeat="(nName, nItem) in metricsData">

                        <br ng-if="!$first" />

                        <small><b>Node: <i>{{nName}}</i>:</b></small><br />

                        {{sMetricItem = getActorStatData(sMetric, actorId, nItem); ""}}

                        <small>
                            <table class="inner-table">
                                <tr>
                                    <td style="width: 80px;"><b class="muted">Last activity:</b></td>
                                    <td>{{sMetricItem.lastActivity | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b class="muted">Last нour:</b>
                                    </td>
                                    <td>
                                        Triggered: <b>{{sMetricItem.totalCountsHour || n/a}}</b> times<br />
                                        Average: <b>{{sMetricItem.meanTimeHour || n/a}}</b> ms
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b class="muted">Last day:</b>
                                    </td>
                                    <td>
                                        Triggered: <b>{{sMetricItem.totalCountsDay || n/a}}</b> times <br />
                                        Average: <b>{{sMetricItem.meanTimeDay || n/a}}</b> ms
                                    </td>
                                </tr>
                            </table>
                        </small>
                    </div>
                </td>
                <td>
                    <small class="muted">Select metric</small>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>