<div>

<div style="width:100%;" class="well" collapse="collapse.filter">
    <div>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td style="text-align: left;">
                    <h4>Metrics options:</h4>
                </td>
                <td style="text-align: right;">
                    <span ng-click="collapse.filter = !collapse.filter" style="cursor:pointer;">
                        <i class="icon-chevron-up" ng-hide="collapse.filter" popover="Hide options" popover-trigger="mouseenter" popover-placement="left"></i>
                        <i class="icon-chevron-down" ng-show="collapse.filter" popover="Show options" popover-trigger="mouseenter" popover-placement="left"></i>
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div collapse = "collapse.filter">
        <div class="well">
            <table width="100%">
                <tr>
                    <td style="width: 450px;">
                        <i class="icon-question-sign" popover="Specify metrics checkpoint to show. Enable checkbox to enable additional data sets (ex., actor specific) to list."
                           popover-trigger="mouseenter" popover-placement="right" />
                        <b>Metric:</b>
                        <select ng-model="selection.metric" ng-options="m.value for m in metricsOptions.metrics"></select>

                        <br />

                        <label ng-if="metricsOptions.metrics.length>0" class="checkbox small">
                            <small>
                                Show all datasets <input type="checkbox" ng-model="selection.showDatasets" />
                            </small>
                        </label>

                        <small><span ng-hide="metricsOptions.metrics.length>0" class="alert alert-warning">No available metrics to show</span></small>
                    </td>

                    <td>
                        <div class="well">{{ selection.metric.name || "select a metric" }}</div>
                    </td>
                </tr>
            </table>

        </div>
        <table style="width:100%; margin:0px;padding:0px;">
            <tr>
                <td style="width:20px;"></td>
                <td>
                    <table width="100%">
                        <tr>
                            <td style="vertical-align: top;padding:10px; width:400px;">
                                <div class="well" style="height: 300px;">
                                    <table>
                                        <tr>
                                            <td>
                                                <i class="icon-question-sign" popover="Specify if metrics data should convey cluster data (for all nodes) or local node only."
                                                   popover-trigger="mouseenter" popover-placement="right" />
                                                <b><small>Scope:</small></b>
                                            </td>
                                            <td>
                                                <select ng-model="selection.scopeMode" ng-options = "sm.name for sm in getAvailableTypes(metricsOptions.scopes)" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <i class="icon-question-sign" popover="Select the type of metrics data to show. Some metrics could have several data types associated with them."
                                                   popover-trigger="mouseenter" popover-placement="right" />
                                                <b><small>Data type:</small></b>
                                            </td>
                                            <td>
                                                <select ng-model="selection.dataMode" ng-options = "dm.name for dm in getAvailableTypes(metricsOptions.dataTypes)" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <i class="icon-question-sign" popover="Select the target time period."
                                                   popover-trigger="mouseenter" popover-placement="right" />
                                                <b><small>Period:</small></b>
                                            </td>
                                            <td>
                                                <select ng-model="selection.periodMode" ng-options = "pm.name for pm in getAvailableTypes(metricsOptions.periods)" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan=2>
                                                <hr />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="text-align:right;">
                                                <i class="icon-question-sign" popover="Enable filter to remove all dots with zero values from the plot. Requires plot refresh."
                                                   popover-trigger="mouseenter" popover-placement="right" />
                                            </td>
                                            <td>
                                                <label style="margin-left:25px;" class="checkbox small"><b><small>Apply skip zero values filter</small></b><input type="checkbox" ng-model="selection.omitZeroes" /></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;">
                                                <i class="icon-question-sign" popover="Enable filter to perform data averaging. Every dot value would be replaced with averaged value by N siblings."
                                                   popover-trigger="mouseenter" popover-placement="right" />
                                            </td>
                                            <td>
                                                <b style="margin-left:25px;"><small>Sibling average filter:</small></b>
                                                <select class="input-small" ng-model="selection.smoothRate" ng-options = "rate for rate in smoothRates" ></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan=2>
                                                <hr />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="text-align: right;">
                                                <button class="btn" ng-click="update()"><i class="icon-refresh"></i>Refresh</button>
                                            </td>
                                        </tr>

                                    </table>
                                </div>

                            </td>
                            <td style="vertical-align:top;padding:10px;">

                                <div class="well" style="height: 300px;overflow:auto;">
                                    <i class="icon-question-sign" popover="Select datasets to show on the diagram"
                                       popover-trigger="mouseenter" popover-placement="right" />
                                    <b>Datasets:</b>

                                    <div ng-hide = "getDatasetList().length>0" class="alert alert-warning">No selected datasets to show</div>

                                    <ul>
                                        <li ng-repeat="ds in getDatasetList()">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="selection.datasets[ds.value]"/>
                                                <small>
                                                    {{ ds.value }} <span ng-if="ds.general" popover="{{ds.name}}" popover-trigger="mouseenter" style="cursor:help;" class="icon-question-sign"></span>
                                                </small>
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                            </td>
                        </tr>

                    </table>

                </td>
                <td style="width:20px;"></td>
            </tr>
        </table>
    </div>

</div>



<div style="width:100%;" class="well">

    <div>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td style="text-align: left;">
                    <h4>Plot:</h4>
                </td>
                <td style="text-align: right;">
                        <span ng-click="collapse.plot = !collapse.plot" style="cursor:pointer;">
                            <i class="icon-chevron-up" ng-hide="collapse.plot" popover="Hide plot" popover-trigger="mouseenter" popover-placement="left"></i>
                            <i class="icon-chevron-down"  ng-show="collapse.plot" popover="Show plot" popover-trigger="mouseenter" popover-placement="left"></i>
                        </span>
                </td>
            </tr>
        </table>
    </div>

    <div collapse = "collapse.plot">
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td style="width: 40px;">
                    <span class="axis-label">{{ getYLabel() }}</span>
                </td>
                <td style="width: 920px;">
                    <div tsk-metrics-plot style="width:900px;height:480px;" datasets="dataHolder" add-options="plotProps.options" />
                </td>
                <td style="vertical-align: top; text-align: left;">
                    <table>
                        <tr>
                            <td>
                                <label class="checkbox small">
                                    <input type="checkbox" ng-model="plotProps.options.zoom.interactive" />Zoom on scroll <i class="icon-question-sign" style="cursor: help;" popover-placement="bottom" popover="Enable to zoom in/out on mouse scroll over plot pane" popover-trigger="mouseenter"></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox small">
                                    <input type="checkbox" ng-model="plotProps.options.pan.interactive" />Mouse draggable <i class="icon-question-sign" style="cursor: help;" popover-placement="bottom" popover="Enable to drag plot over pane with mouse" popover-trigger="mouseenter"></i>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr />
                            </td>
                        </tr>
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<small>X ticks: </small><input type="text" class="input-mini" ng-model="plotProps.options.xaxis.ticks"/>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<small>Y ticks: </small><input type="text" class="input-mini" ng-model="plotProps.options.yaxis.ticks" />-->
                            <!--</td>-->
                        <!--</tr>-->
                        <tr>
                            <td>
                                <b style="font-size: 12px;">Mouse position:</b>
                                <div class="well" id="metrics-hoverdata">
                                    <div class="current" style="font-size: 12px;"></div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button class="btn" ng-click="clear()"><i class="icon-remove"></i>Clear data</button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <hr />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div>
                                    <label class="checkbox small"><small>
                                        <b>Refresh automatically</b></small>
                                        <input type="checkbox" ng-model="plotProps.updatePeriod" ng-true-value="1" ng-false-value="0"/>
                                        <i class="icon-question-sign" style="cursor: help;" popover="Enable to refresh plot data every second" popover-trigger="mouseenter"></i>
                                    </label>
                                </div>
                            </td>
                        </tr>



                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="height: 30px;text-align: center;">
                    <span class="axis-label">{{ getXLabel() }}</span>
                </td>
                <td></td>
            </tr>
        </table>
    </div>

</div>



<div style="width:100%;" class="well">

    <div>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td style="text-align: left;">
                    <h4>Raw data table: <small><span class="alert alert-info">Hide to increase UI performance on multiple datasets</span></small></h4>
                </td>
                <td style="text-align: right;">
                        <span ng-click="collapse.table = !collapse.table" style="cursor:pointer;">
                            <i class="icon-chevron-up" ng-hide="collapse.table" popover="Hide data table" popover-trigger="mouseenter" popover-placement="left"></i>
                            <i class="icon-chevron-down"  ng-show="collapse.table" popover="Show data table" popover-trigger="mouseenter" popover-placement="left"></i>
                        </span>
                </td>
            </tr>
        </table>
    </div>

    <div collapse = "collapse.table">
        <table class="table table-condensed table-striped" ng-hide="collapse.table">
            <thead>
            <tr>
                <th style="width:30%;">Dataset</th>
                <th>Values</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dataset in getTableData()">
                <td>
                    <b>{{ dataset.label }}</b>
                </td>
                <td>
                    <div style="height: 300px; overflow: auto;">
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th><b>X:</b></th>
                                <th><b>Y:</b></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dot in dataset.data">
                                <td><small>{{ dot[0] }}</small></td>
                                <td><small>{{ dot[1] }}</small></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-hide = "getTableData().length>0" class="alert alert-warning">No selected datasets to show</div>
    </div>

</div>


</div>