<div>

    <table width="100%">
        <tr>
            <td style="text-align: left;"><h3>Process properties:</h3></td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>

    <div ng-hide="process.processUuid.length > 0" class="text-warning">
        Searching for process id {{processId}} ...
    </div>

    <div ng-show="process.processUuid.length > 0">
        <div>
            <a class="btn btn-link" ng-href="#/processes/search/task?processId={{process.processUuid}}">List task for this
                process</a>
        </div>

        <table width="100%" class="table">
            <tr>
                <td class="form-header">ID:</td>
                <td>{{process.processUuid}}</td>
            </tr>
            <tr>
                <td class="form-header">Start task ID:</td>
                <td>
                    <a ng-href="#/processes/task?processId={{process.processUuid}}&taskId={{process.startTaskUuid}}" class="btn btn-link">{{process.startTaskUuid}}</a>
                </td>
            </tr>
            <tr>
                <td class="form-header">Custom ID:</td>
                <td>{{process.customId}}</td>
            </tr>
            <tr>
                <td class="form-header">Start time:</td>
                <td>{{process.startTime}}</td>
            </tr>
            <tr>
                <td class="form-header">End time:</td>
                <td>{{process.endTime}}</td>
            </tr>
            <tr>
                <td class="form-header">Return value:</td>
                <td>{{process.returnValueJson}}</td>
            </tr>
        </table>

        <div style="background-color: #f5f5f5;padding:2px;">
            <h3>Process tree:</h3>
            <b>&#8595<i ng-class="getTreeStateIconClass(taskTree.state)"></i><a ng-href="#/processes/task?processId={{process.processUuid}}&taskId={{taskTree.id}}" class="btn btn-link">{{taskTree.id}}</a></b><span class="muted">{{taskTree.desc}}</span>
            <div class="tree">
                <ul style="border: 1px dotted grey;" ng-show="taskTree.children.length>0">
                    <li ng-repeat="child in taskTree.children" tsk-tree>
                        <div>
                            <i ng-class="getTreeStateIconClass(child.state)"></i><a ng-href="#/processes/task?processId={{process.processUuid}}&taskId={{child.id}}" class="btn btn-link">{{child.id}}</a>
                            <span class="muted">{{child.desc}}</span>
                        </div>
                        <ul style="border: 1px dotted grey;" ng-show="child.children.length>0">
                            <branch></branch>
                        </ul>
                </ul>
            </div>
        </div>
    </div>

</div>