<div>
    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>Queue: <em>{{queueName}}</em></h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>
    <div ng-hide="!angular.isDefined(feedback)" class="err-message">Error at updating: <span>{{feedback}}</span></div>


    <div class="well" style="margin:5px;">
        <div style="float:left">
            <div tsk-autorefresh update-action="update()"></div>
        </div>

        <div style="float: right;">
            <img id="loading" src="/img/ajax-loader.gif" style="display: none;"/>
            <a class="btn btn-small" ng-click="update()" popover="Refresh list" popover-trigger="mouseenter"><i class="icon-refresh"></i></a>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Task UUID</th>
                <th>Task list</th>
                <th>Start time</th>
                <th>Insert time</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="queueItem in queueTasksPage.items">
                <td>{{getStartIndex(queueTasksPage.pageNumber, queueTasksPage.pageSize)+$index}}</td>

                <td>
                    <a class="btn btn-link" style="cursor: pointer;" ng-href="#/processes/task?processId={{queueItem.processId}}&taskId={{queueItem.taskId}}">
                        <small>{{queueItem.taskId}}</small>
                    </a>
                </td>
                <td><small>{{queueItem.taskList}}</small></td>
                <td><small>{{queueItem.startTime | date:'dd-MM-yyyy HH:mm:ss'}}</small></td>
                <td><small>{{queueItem.enqueueTime | date:'dd-MM-yyyy HH:mm:ss'}}</small></td>
            </tr>
            </tbody>

            <tfoot>
            <td colspan="5">
                <tsk-paginator generic-page="queueTasksPage" update-action="update()"></tsk-paginator>
            </td>
            </tfoot>

        </table>

        <div>Total: <b>{{queueTasksPage.totalCount}}</b> tasks</div>
    </div>

</div>
