<div>
    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>Create scheduled task</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>
    <div ng-if="feedback.status>=500">
        <tsk-err-message model="feedback"></tsk-err-message>
    </div>
    <div ng-if="!initialized">
        <img src="/img/ajax-loader.gif"/>
    </div>
    <table width="100%" ng-if="initialized">
        <tr>
            <td style="vertical-align: top; width: 430px;">
                <div class="well">
                    <h4>Job properties:</h4>
                    <table class="table table-condensed">
                        <tr>
                            <td style="width: 200px;">
                                <i class="icon-question-sign" popover="Specify the human readable name of the job." popover-trigger="mouseenter" />
                                <b>Job name:</b>
                            </td>
                            <td>
                                <input class="input search-query" type="text" ng-model="job.name" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="Cron expression to trigger task." popover-trigger="mouseenter" />
                                <b>Cron:</b>
                            </td>
                            <td>
                                <input class="input-small search-query" type="text" ng-model="job.cron" ng-change="validateCron()" required />
                                <span ng-if="job.cron.length>0 && isCronValid" popover="Valid cron expression" popover-trigger="mouseenter" class="icon-thumbs-up" ></span>
                                <span ng-if="job.cron.length>0 && !isCronValid" popover = "Incorrect cron expression" popover-trigger="mouseenter" class="icon-thumbs-down"></span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="Max tasks count per actor queue. If queue size exceeds that value on current scheduler iteration, scheduler would just skip until queue is ready. Use negative or zero value to disable this option." popover-trigger="mouseenter" />
                                <b>Queue limit:</b>
                            </td>
                            <td>
                                <input style="outline: 0" class="input-mini search-query" ng-model="job.queueLimit" /><span ng-if="job.queueLimit<=0" class="muted"><small>disabled</small></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="The job would stop after exceeding this number of attempts to create task interrupted due to error. Note that it doesn't concern task execution on actor itself. Use negative or zero value to disable this option." popover-trigger="mouseenter" />
                                <b>Max errors:</b>
                            </td>
                            <td>
                                <input style="outline: 0" class="input-mini search-query" ng-model="job.maxErrors" /><span ng-if="job.maxErrors<=0" class="muted"><small>disabled</small></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="vertical-align: top;">
                <div class="well">
                    <h4>Task properties:</h4>
                    <table class="table">
                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="ActorId of the actor to trigger." popover-trigger="mouseenter" />
                                <b>ActorId:</b>
                            </td>
                            <td>
                                <input class="input-large search-query" type="text" ng-model="job.task.actorId" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="Method of the actor to trigger." popover-trigger="mouseenter" />
                                <b>Method name:</b>
                            </td>
                            <td>
                                <input class="input-large search-query" type="text" ng-model="job.task.method" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="Type of the actor to trigger." popover-trigger="mouseenter" />
                                <b>Actor type:</b>
                            </td>
                            <td>
                                <select ng-model="job.task.type" ng-options="type for type in types" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="Specify task list if any." popover-trigger="mouseenter" />
                                <b>Task list:</b>
                            </td>
                            <td>
                                <input class="input-large search-query" type="text" ng-model="job.taskList" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <i class="icon-question-sign" popover="Arguments for the scheduled task. Only primitive and string values are allowed at the moment." popover-trigger="mouseenter" />
                                <b>Arguments:</b>
                            </td>
                            <td>
                                <table width="100%" class="table table-bordered table-condensed">
                                    <tr>
                                        <td colspan="3" style="text-align: center">
                                            <span ng-hide="job.args.length>0" class="muted">This task has no arguments. <br /> Press the 'plus' button below if you need to specify any.</span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="arg in job.args">
                                        <td style="vertical-align: middle">
                                            {{ $index }}.
                                        </td>
                                        <td>
                                            <div tsk-argument ng-model="arg"></div>
                                        </td>
                                        <td style="vertical-align: middle">
                                            <button class="btn btn-small" ng-click="removeArgument($index)" popover="Remove this argument" popover-trigger="mouseenter"><i class="icon-minus-sign"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: center">
                                            <button class="btn btn-small" ng-click="addArgument()" popover="Add task argument" popover-trigger="mouseenter"><i class="icon-plus-sign"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <a class="btn" ng-click="updateScheduledJob()" ng-disabled="!isValidForm()" ng-if="job.id>0 && job.status!=1">Update task</a>
                <span ng-if="job.id>0 && job.status==1" class="alert alert-danger">You should stop job before edit <a class="btn-link" ng-href="#/schedule/list">Back to list</a></span>
                <a class="btn" ng-click="createScheduledJob()" ng-disabled="!isValidForm()" ng-if="!job.id">Create scheduled task</a>
            </td>
        </tr>
    </table>

</div>