<div>

    <div class="well">
        <table width="100%">
            <tr>
                <td style="text-align: left;"><h4>Task {{ task.taskId }}</h4></td>
                <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
            </tr>
        </table>
    </div>

    <div ng-hide="task.taskId.length > 0" class="text-warning">
        Task not found by id {{taskId}}
    </div>

    <div ng-show="task.taskId.length > 0">
        <div class="well">
            <h4>Properties:</h4>
            <table width="100%" class="table table-condensed">
                <tr>
                    <td class="form-header">ID:</td>
                    <td>{{task.taskId}}</td>
                </tr>
                <tr>
                    <td class="form-header">Process ID:</td>
                    <td><a class="btn btn-link" ng-href="#/processes/process?processId={{task.processId}}">{{task.processId}}</a></td>
                </tr>
                <tr>
                    <td class="form-header">Method:</td>
                    <td>{{task.method}}</td>
                </tr>
                <tr>
                    <td class="form-header">Actor id:</td>
                    <td>{{task.actorId}}</td>
                </tr>
                <tr>
                    <td class="form-header">Type:</td>
                    <td>{{task.valueType}}</td>
                </tr>
                <tr>
                    <td class="form-header">Start time:</td>
                    <td>{{task.startTime | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                </tr>
                <tr>
                    <td class="form-header">Error attempts:</td>
                    <td>{{task.errorAttempts}}</td>
                </tr>
                <tr>
                    <td class="form-header">Args:</td>
                    <td>{{task.args}}</td>
                </tr>
                <tr>
                    <td class="form-header">Options:</td>
                    <td>
                        <small>{{task.options}}</small>
                    </td>
                </tr>
            </table>
        </div>

        <div class="well">
            <h4>Decision properties:</h4>
            <div ng-hide="taskDecision" class="alert alert-warning">Task have not been released.</div>
            <table width="100%" class="table table-condensed">
                <tr>
                    <td class="form-header">Released with exception:</td>
                    <td>{{taskDecision.errorContainer || "false"}}</td>
                </tr>
                <tr ng-show="taskDecision.restartTime > 0">
                    <td class="form-header">Restart time:</td>
                    <td>{{taskDecision.restartTime | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                </tr>
                <tr>
                    <td class="form-header">Created tasks:</td>
                    <td>{{taskDecision.tasks.length || "none"}}</td>
                </tr>
                <tr>
                    <td class="form-header">Value:</td>
                    <td>{{taskDecision.value | json}}</td>
                </tr>
            </table>
        </div>

        <div class="well">
            <h4>Task tree:</h4>
            <b>&#8595<i ng-class="getTreeStateIconClass(taskTree.state)"></i>
                <a ng-href="#/processes/task?processId={{task.processId}}&taskId={{taskTree.id}}" class="btn btn-link"><small>{{taskTree.id}}</small></a></b><span class="muted">{{taskTree.desc}}</span>
            <div class="tree">
                <ul style="border: 1px dotted grey;" ng-show="taskTree.children.length>0">
                    <li ng-repeat="child in taskTree.children" tsk-tree>
                        <div>
                            <i ng-class="getTreeStateIconClass(child.state)"></i>
                            <a ng-href="#/processes/task?processId={{task.processId}}&taskId={{child.id}}" class="btn btn-link"><small>{{child.id}}</small></a>
                            <span class="muted">{{child.desc}}</span>
                        </div>
                        <ul style="border: 1px dotted grey;" ng-show="child.children.length>0">
                            <branch></branch>
                        </ul>
                </ul>
            </div>
        </div>

    </div>

</div>
