<div>
    <h3>Task queues list</h3>

    <div style="float: left;">
        <a class="btn btn-link" ng-click="update()">Refresh</a>
    </div>
    <div style="float:right">
        <tsk-autorefresh update-action="update()"></tsk-autorefresh>
    </div>
    <div ng-hide="!angular.isDefined(feedback)" class="err-message">Error at updating: <span>{{feedback}}</span></div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <th style="width: 10%">№</th>
        <th>Queue name</th>
        <th style="width: 15%">Tasks count</th>
        </thead>

        <tfoot>
        <td colspan="3">
            <tsk-paginator generic-page="queuesPage" update-action="update()"></tsk-paginator>
        </td>
        </tfoot>

        <tbody>
        <tr ng-repeat="queue in queuesPage.items">
            <td>{{getStartIndex(queuesPage.pageNumber, queuesPage.pageSize) + $index}}</td>
            <td>
                <a clas="btn btn-link" style="cursor: pointer;"
                   ng-href="#/queues/queue/{{encodeURI(queue.name)}}">{{queue.name}}</a>
            </td>
            <td>{{queue.count}}</td>
        </tr>
        </tbody>
    </table>

    <div>Total: <b>{{totalTasks()}}</b> tasks in <b>{{queuesPage.items.length}}</b> queues</div>

</div>
