<div page-header="{{ doUpdate? 'Update' : 'Create'}} subscription" ng-dblclick="$debug = !$debug">
    <div ng-if="$debug">
        <h6>{{ subscription | json }}</h6>
    </div>
</div>

<page-message></page-message>

<div class="well">

    <div class="well">
        <b>Notify when:</b>
        <span ng-if="!(events.length > 0)" class="alert alert-error">
            No available notification events found
        </span>
        <div class="width: 100%;" ng-repeat="event in events">
            <label><input type="checkbox" ng-model="event.checked" /> {{ event.type | triggerTypeName}} </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <td style="width: 50%">
                <button class="btn btn-small" ng-click="addEmail()" popover="Add email." popover-trigger="mouseenter">
                    <i class="icon-plus-sign"></i>
                </button>
                <b>Emails:</b>
                <i class="icon-question-sign" popover="Specify email addresses for notifications" popover-trigger="mouseenter" ></i>
            </td>
            <td>
                <button class="btn btn-small" ng-click="addActorId()" popover="Add actorId prefix." popover-trigger="mouseenter">
                    <i class="icon-plus-sign"></i>
                </button>
                <b>ActorIds:</b>
                <i class="icon-question-sign" popover="Specify actor ids prefixes to track" popover-trigger="mouseenter"></i>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <span ng-if="!(subscription.emails && subscription.emails.length > 0)" class="alert">
                        No emails specified
                        <button class="btn btn-small" ng-click="addEmail()" popover="Add email." popover-trigger="mouseenter">
                            <i class="icon-plus-sign"></i>
                        </button>
                    </span>
                    <div class="controls" ng-repeat="email in subscription.emails" >
                        {{ $index + 1 }}
                        <input class="input-xlarge" type="text" ng-model="email.value" required />
                        <button class="btn btn-small" ng-click="removeEmail($index)" popover="Remove email" popover-trigger="mouseenter">
                            <i class="icon-minus-sign"></i>
                        </button>
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    <span ng-if="!(subscription.actorIds && subscription.actorIds.length > 0)" class="alert">
                        No actorId prefixes specified
                        <button class="btn btn-small" ng-click="addActorId()" popover="Add actorId prefix." popover-trigger="mouseenter">
                            <i class="icon-plus-sign"></i>
                        </button>
                    </span>
                    <div class="controls" ng-repeat="actorId in subscription.actorIds">
                        {{ $index + 1 }}
                        <input class="input-xlarge" type="text" ng-model="actorId.value" required />
                        <button class="btn btn-small" ng-click="removeActorId($index)" popover="Remove actorId" popover-trigger="mouseenter">
                            <i class="icon-minus-sign"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="well">
        <a ng-if="!doUpdate" class="btn" ng-click="save()" ng-disabled="!isValidForm()">Save subscription</a>
        <a ng-if="doUpdate" class="btn" ng-click="update()" ng-disabled="!isValidForm()">Update subscription</a>
    </div>
</div>