<div>
    <table class="table">
        <tr>
            <td>
                Arg class name
            </td>
            <td>
                <input type="text" class="input-large" ng-model="model.dataType" />
            </td>
        </tr>
        <tr>
            <td>
                Task id
            </td>
            <td>
                <input type="text" class="input-large" ng-model="model.taskId" />
            </td>
        </tr>
        <tr>
            <td>
                Task id
            </td>
            <td>
                <input type="text" class="input-large" ng-model="model.taskId" />
            </td>
        </tr>
    </table>;
    private boolean isReady;
    private String JSONValue;
    private ValueType valueType;
    private ArgContainer[] compositeValue;
    private boolean promise = false;

</div>