<div>

    <div class="pagination pull-left" style="width: 60%">
        <span class="muted">Show </span>
        <select ng-model="genericPage.pageSize" style="height:30px;width:55px;" ng-change="updatePageSize()">
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
        <span class="muted"> entries</span>

        <span class="muted info-text">Showing <b>{{getMinIndex()}}</b> to <b>{{getMaxIndex()}}</b> of <b>{{genericPage.totalCount}}</b> entries</span>

    </div>

    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: isPrevDisabled()}">
                <a href ng-click="firstPage()"><< First</a>
            </li>
            <li ng-class="{disabled: isPrevDisabled()}">
                <a href ng-click="prevPage()">< Prev</a>
            </li>
            <li>
                <span>{{genericPage.pageNumber}} of {{totalPages()}}</span>
            </li>
            <li ng-class="{disabled: isNextDisabled()}">
                <a href ng-click="nextPage()">Next ></a>
            </li>
            <li ng-class="{disabled: isNextDisabled()}">
                <a href ng-click="lastPage()">Last >></a>
            </li>
        </ul>
    </div>

</div>
