<div>
    <div class="well">
        <h4>Task properties</h4>

        <table class="table table-condensed">

            <tr>
                <td>
                    Actor ID
                </td>
                <td>
                    <input class="input-large search-query" ng-model="actorId" />
                </td>
            </tr>

            <tr>
                <td>
                    Actor Method
                </td>
                <td>
                    <input class="input-large search-query" ng-model="actorMethod"/>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <!--<tr>-->
                <!--<td>-->
                    <!--Start time-->
                <!--</td>-->
                <!--<td>-->
                    <!--<div class="well well-small" style="display:inline-block;">-->
                        <!--<timepicker hour-step="1" minute-step="1" show-meridian="false" ng-model="taskStartTime"></timepicker>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->

            <tr>
                <td>
                    Number Of Attempts
                </td>
                <td>
                    <input class="input-small search-query" ng-model="errorAttempts"/>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <td>
                    Task Type
                </td>
                <td>
                    <select class="input-large" ng-model="taskType" ng-options="tt for tt in taskTypes"></select>
                </td>
            </tr>

            <tr>
                <td style="width:200px;">
                    Process UUID
                </td>
                <td>
                    <input class="input-large search-query" ng-model="processUUID" disabled/>
                </td>
            </tr>

            <tr>
                <td>
                    Task UUID
                </td>
                <td>
                    <input class="input-large search-query" ng-model="taskUUID" disabled/>
                </td>
            </tr>


        </table>

    </div>


    <div class="well">
        <h4>Task arguments</h4>
        <table class="table table-condensed">
            <tr >

            </tr>
        </table>

        private String dataType;
        private UUID taskId;
        private boolean isReady;
        private String JSONValue;
        private ValueType valueType;
        private ArgContainer[] compositeValue;
        private boolean promise = false;


    </div>


    <div class="well">
        Task options

        private TaskOptionsContainer options;
    </div>

</div>