<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4r [%t] %-5p %c - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%d [%-15.15t] %-5p %-30.30c{1} - %m%n</pattern>
		</encoder>
		<file>target/ru.taskurotta.test.log</file>
	</appender>

	<logger name="org.apache.activemq" level="WARN" />
	<logger name="org.apache.camel" level="INFO" />
	<logger name="ru.taskurotta" level="TRACE" />

	<root>
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
