<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
            location="classpath:default.properties,
            classpath:tests/quantity/pusher.properties"/>
    <context:annotation-config/>

    <bean id="processStarter" class="ru.taskurotta.test.stress.process.FullFeatureStarter">
        <constructor-arg name="clientServiceManager" ref="clientServiceManager"/>
    </bean>

    <bean id="processPusher" class="ru.taskurotta.test.stress.ProcessPusher">
        <constructor-arg name="starter" ref="processStarter" />
        <constructor-arg name="hazelcastInstance">
		<null />
        </constructor-arg>
        <constructor-arg name="maxProcessQuantity" value="${test.ff.maxProcessQuantity}"/>
        <constructor-arg name="startSpeedPerSecond" value="${test.ff.startSpeedPerSecond}"/>
        <constructor-arg name="threadCount" value="${test.ff.threadCount}"/>
        <constructor-arg name="minQueuesSize" value="${test.ff.minQueuesSize}"/>
        <constructor-arg name="maxQueuesSize" value="${test.ff.maxQueuesSize}"/>
        <constructor-arg name="waitAfterDoneSeconds" value="${test.ff.waitAfterDoneSeconds}"/>
        <constructor-arg name="fixedPushRate" value="${test.ff.fixedPushRate}" />
        <constructor-arg name="stringSetCounter" ref="stringSetCounter"/>
    </bean>

    <bean id="stringSetCounter" class="ru.taskurotta.service.hz.storage.MongoStringSetCounter">
        <constructor-arg name="name" value="finishedProcess" />
        <constructor-arg name="db" ref="mongoDB" />
    </bean>

    <!-- Mongo -->
    <bean id="writeConcern" class="com.mongodb.WriteConcern">
        <constructor-arg name="w" value="${mongo.options.write-concern.w}"/>
        <constructor-arg name="wtimeout" value="${mongo.options.write-concern.wtimeout}"/>
        <constructor-arg name="fsync" value="${mongo.options.write-concern.fsync}"/>
        <constructor-arg name="j" value="${mongo.options.write-concern.j}"/>
    </bean>

    <bean id="mongoClientOptionsBuilder" class="ru.taskurotta.mongodb.config.CustomMongoClientOptionsBuilder">
        <constructor-arg name="minConnectionsPerHost" value="${mongo.options.min-connections-per-host}"/>
        <constructor-arg name="connectionsPerHost" value="${mongo.options.connections-per-host}"/>
        <constructor-arg name="threadsAllowedToBlockForConnectionMultiplier" value="${mongo.options.threads-allowed-to-block-for-connection-multiplier}"/>
        <constructor-arg name="maxWaitTime" value="${mongo.options.max-wait-time}"/>
        <constructor-arg name="maxConnectionIdleTime" value="${mongo.options.max-connection-idle-time}"/>
        <constructor-arg name="maxConnectionLifeTime" value="${mongo.options.max-connection-life-time}"/>
        <constructor-arg name="connectTimeout" value="${mongo.options.connect-timeout}"/>
        <constructor-arg name="socketTimeout" value="${mongo.options.socket-timeout}"/>
        <constructor-arg name="socketKeepAlive" value="${mongo.options.socket-keep-alive}"/>
        <constructor-arg name="writeConcern" ref="writeConcern"/>
    </bean>

    <bean id="mongoClientURI" class="com.mongodb.MongoClientURI">
        <constructor-arg name="uri" value="${mongo.client-uri}"/>
        <constructor-arg name="builder" ref="mongoClientOptionsBuilder"/>
    </bean>

    <bean id="mongo" class="com.mongodb.MongoClient">
        <constructor-arg name="uri" ref="mongoClientURI"/>
    </bean>

    <bean id="mongoDB" factory-bean="mongo" factory-method="getDB">
        <constructor-arg name="dbname" value="${mongo.db.name}" />
    </bean>

    <!-- Jersey native ws client. Uses new thread for each connection -->
    <bean id = "taskServer" class="ru.taskurotta.client.jersey.JerseyHttpTaskServerProxy" >
        <property name="connectTimeout" value="3000" />
        <property name="readTimeout" value = "0" />
        <property name="threadPoolSize" value = "${test.ff.threadCount}" />
        <property name="endpoint" value = "${tsk.endpoint}" />
        <property name="maxConnectionsPerHost" value="${test.ff.threadCount}" />
    </bean>

    <bean id="clientServiceManager" class="ru.taskurotta.client.internal.CommonClientServiceManager">
        <constructor-arg name="taskServer" ref="taskServer"/>
    </bean>

    <bean id="fpCounter" class="ru.taskurotta.test.stress.HttpFinishedProcessCounter">
        <constructor-arg name="endpoint" value="${tsk.endpoint}" />
    </bean>

</beans>
