<!-- Top navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Console navigation: </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ng-class="isActiveTab('/home')">
                        <a href="#/home">Home</a>
                    </li>

                    <li ng-class="isActiveTab('/queues')">
                        <a href="#/queues">Queues</a>
                    </li>

                    <li ng-class="isActiveTab('/actors')">
                        <a href="#/actors/list">Actors</a>
                    </li>

                    <li class="dropdown ng-class:isActiveTab('/processes');">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Processes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">List</li>
                            <li><a href="#/processes/list">Processes...</a></li>
                            <li><a href="#/processes/tasks/">Tasks...</a></li>
                            <li class="nav-header">Search</li>
                            <li><a href="#/processes/search/process">Processes...</a></li>
                            <li><a href="#/processes/search/task">Tasks...</a></li>
                            <li class="nav-header">Create</li>
                            <li><a href="#/processes/create">Create process</a></li>
                            <li class="nav-header">Interrupted</li>
                            <li><a href="#/processes/interrupted">Interrupted tasks...</a></li>
                            <li class="nav-header">Work off</li>
                            <li><a href="#/processes/gc">Garbage collect(dev)</a></li>
                        </ul>
                    </li>

                    <li class="dropdown ng-class:isActiveTab('/monitoring');">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Monitoring<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/monitoring/hoveringQueues">Hovering Queues</a></li>
                            <li><a href="#/monitoring/repeatedTasks">Hovering tasks list</a></li>
                            <li><a href="#/monitoring/metrics">Metrics</a></li>
                            <li><a href="#/monitoring/recovery">Recovery(dev)</a></li>
                        </ul>
                    </li>

                    <li ng-class="isActiveTab('/schedule')">
                        <a href="#/schedule/list">Schedule</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
