<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4r [%t] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="ru.taskurotta.dropwizard.client.jersey" level="DEBUG"/>-->
    <logger name="ru.taskurotta.example" level="INFO"/>
    <!--<logger name="ru.taskurotta.bootstrap" level="DEBUG"/>-->
    <!--<logger name="ru.taskurotta.bootstrap.profiler" level="INFO"/>-->
    <logger name="org.springframework" level="OFF"/>
    <logger name="com.sun.jersey.client.apache" level="OFF"/>
    <logger name="org.apache.commons" level="OFF"/>
    <logger name="httpclient.wire" level="OFF"/>

    <!-- Default root log level is DEBUG, so omitting level attribute results in all classes DEBUG level log -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
