<div>
    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>Actors list</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>

    <div ng-if="feedback.status>=500">
        <tsk-err-message model="feedback"></tsk-err-message>
    </div>

    <div class="well" style="margin:5px;">
        <div style="float: right;">
            <img id="loading" src="/img/ajax-loader.gif" style="display: none;"/>
            <button class="btn btn-small" ng-click="update()" popover="Refresh list" popover-trigger="mouseenter"><i class="icon-refresh"></i></button>
        </div>

        <table class="table table-striped table-bordered table-hover">

            <thead>
                <th style="width:40px;">
                    <small>№</small>
                </th>
                <th style="width:180px;">
                    <small>Actor ID</small>
                </th>
                <th>
                    <small>Queue balance</small>
                </th>
                <th style="width:180px;">
                    <small>Last activity</small>
                </th>
                <th style="width: 200px;"><small>Actions</small></th>
            </thead>

            <tbody>
                <tr ng-if="!initialized">
                    <td colspan="5" style="text-align: center;"><img src="/img/ajax-loader.gif"/></td>
                </tr>
                <tr ng-repeat="actor in actorsPage.items" ng-class="{error: actor.blocked}">
                    <td>
                        {{getStartIndex(actorsPage.pageNumber, actorsPage.pageSize) + $index}}
                        <span class="icon-ban-circle" ng-if="actor.blocked" style="width:25px; height:25px;cursor:help;" popover="Blocked: 'poll' and 'release' requests for this actor are rejected." popover-trigger="mouseenter"/>
                    </td>

                    <td>
                        <b><small>{{actor.actorId}}</small></b>
                    </td>

                    <td>
                        <span ng-hide="actor.queueState"><b class="muted">n/a</b></span>
                        <div ng-if="actor.queueState">
                            <small>
                                <b class="muted">Last hour: </b><small ng-if="!hasHourRateData(actor)">no data</small>
                                <span ng-if="hasHourRateData(actor)">
                                    <b ng-if="actor.hourRate>0" style="color: red;cursor: help;" popover="Trend unbalanced: mean outcome < mean income" popover-trigger="mouseenter">&#x25B2;{{actor.hourRate}}</b>
                                    <b ng-if="actor.hourRate<=0" style="color: green;cursor: help;" popover="Trend OK" popover-trigger="mouseenter">&#x25BC;{{actor.hourRate}}</b>
                                    <br />in: <b ng-if="actor.queueState.totalInHour>=0">{{actor.queueState.totalInHour}}</b>, out: <b ng-if="actor.queueState.totalOutHour>=0">{{actor.queueState.totalOutHour}}</b>
                                </span>

                                <hr style="margin: 5px;padding:0;"/>

                                <b class="muted">Last day: </b><small ng-if="!hasDayRateData(actor)">no data</small>
                                <span ng-if="hasDayRateData(actor)">
                                    <b ng-if="actor.dayRate>0" style="color: red;" popover="Trend unbalanced: income > outcome" popover-trigger="mouseenter">&#x25B2;{{actor.dayRate}}</b>
                                    <b ng-if="actor.dayRate<=0" style="color: green;" popover="Trend OK" popover-trigger="mouseenter">&#x25BC;{{actor.dayRate}}</b>
                                    <br />in: <b ng-if="actor.queueState.totalInDay>=0">{{actor.queueState.totalInDay}}</b>, out: <b ng-if="actor.queueState.totalOutDay>=0">{{actor.queueState.totalOutDay}}</b>
                                </span>

                                <hr style="margin: 5px;padding:0;"/>
                                <small class="muted">By <b>{{actor.queueState.nodes}}</b> nodes</small>

                            </small>
                        </div>
                    </td>

                    <td>
                        <small><b class="muted">Poll:</b> {{ actor.lastPoll || "n/a" | date:'dd-MM-yyyy HH:mm:ss' }}</small>
                            <br />
                        <small><b class="muted">Release:</b> {{ actor.lastRelease || "n/a" | date:'dd-MM-yyyy HH:mm:ss' }}</small>
                    </td>

                    <td>
                        <table>
                            <tr>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="selection.actorIds[actor.actorId]" />
                                        <small ng-if="!isSelectionLinkActive(actor.actorId)">Compare</small>
                                        <a ng-if="isSelectionLinkActive(actor.actorId)"
                                           class="btn-link" popover="Go to actor's metrics comparison view" popover-trigger="mouseenter"
                                           ng-click="navigateToCompareView()">
                                            <small>Compare ({{getSelectedActorIds().length }})</small>
                                        </a>
                                    </label>
                                </td>
                                <td ng-if="actor.blocked">
                                    <button class="btn" ng-click="unblockActor(actor.actorId)"><small>Unblock</small></button>
                                </td>
                                <td ng-if="!actor.blocked">
                                    <button class="btn" ng-click="blockActor(actor.actorId)"><small>Block</small></button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <td colspan="5">
                    <div tsk-paginator generic-page="actorsPage" update-action="update()"></div>
                </td>
            </tfoot>

        </table>

        <div>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td style="text-align:left;">
                        <div>Total: <b>{{actorsPage.totalCount || 0}}</b> actors. <b>{{getSelectedActorIds().length }}</b> selected.</div>
                    </td>
                    <td style="text-align: center;">

                    </td>
                    <td style="text-align:right;">
                    </td>
                </tr>
            </table>

        </div>

    </div>

</div>
