<div>

    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>Actors</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>

    <div ng-if="feedback.status>=500">
        <tsk-err-message model="feedback"></tsk-err-message>
    </div>

    <div class="well">
        <div class="muted">
            <b>Select metrics to show:</b>
        </div>

        <table class="checkbox-group-table" cellspacing="0" cellpadding="0">
            <tr ng-if="metrics.length == 0">
                <td colspan = "2">
                    <span class="alert">No metrics to show</span>
                </td>
            </tr>
            <tr ng-if="metrics.length > 0" ng-repeat="startIdx in getMetricsRows(2)">
                <td>
                    <label class="checkbox" ng-if="metrics[startIdx]"><input type="checkbox" ng-model="selection.metric[metrics[startIdx]]">{{metrics[startIdx]}}</label>
                </td>
                <td>
                    <label class="checkbox" ng-if="metrics[startIdx+1]"><input type="checkbox" ng-model="selection.metric[metrics[startIdx+1]]">{{metrics[startIdx+1]}}</label>
                </td>
            </tr>
        </table>

    </div>

    <div class="well">

        <table style="width: 100%;">
            <tr>
                <td>
                    <b class="muted">Actor metrics view:</b>
                    <span style="margin-left: 10px;">
                        <i class="icon-question-sign" popover="Filter by ActorId *starts with* condition" popover-trigger="mouseenter" />
                        <input ng-model="selection.filter" type="text" class="search-query" />
                    </span>
                </td>
                <td style="text-align: right">
                    <img id="loading" src="/img/ajax-loader.gif" style="display: none;"/>
                    <button class="btn btn-small" ng-click="update()" popover="Refresh table" popover-trigger="mouseenter"><i class="icon-refresh"></i></button>
                </td>
            </tr>
        </table>

        <div style="overflow: auto;">
            <table class="table table-bordered">

                <thead>
                <th style="width:35px;">
                    <small>№</small>
                </th>
                <th>
                    <small>Actor ID:</small>
                </th>
                <th ng-repeat="sMetric in getSelectedMetricNames()" style="width: 400px;">
                    <small>"{{sMetric}}" </small>
                    <select style="width:90px;" class="btn btn-mini" ng-model="selection.metricPeriod[sMetric]" ng-options = "period for period in periods" /><span class="caret"></span>
                </th>
                <th width="80px;">
                    <small>Actions:</small>
                </th>
                </thead>

                <tbody>
                <tr ng-if="!initialized">
                    <td colspan="3" style="text-align: center;"><img src="/img/ajax-loader.gif"/></td>
                </tr>
                <tr ng-if="initialized" ng-repeat="actor in actorsPage.items" ng-class="{error: actor.blocked}">
                    <td>
                        <small>
                            {{getStartIndex(actorsPage.pageNumber, actorsPage.pageSize) + $index}}
                        </small>
                        <span class="icon-ban-circle" ng-if="actor.blocked" style="width:25px; height:25px;cursor:help;" popover="Blocked: 'poll' and 'release' requests for this actor are rejected." popover-trigger="mouseenter" />
                    </td>
                    <td>
                        <small><b>{{ withNewLineOnDots(actor.id) }}</b></small>
                    </td>
                    <td ng-repeat="sMetric in getSelectedMetricNames()">
                        <div ng-repeat="(nName, nItem) in metricsData">

                            <hr ng-if="!$first" />

                            {{sMetricItem = getActorStatData(sMetric, actor.id, nItem); ""}}

                            <small>
                                <table class="inner-table">
                                    <tr>
                                        <td style="width: 80px;"><i class="muted">Node:</i></td>
                                        <td>{{nName}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="muted">Last activity:</i></td>
                                        <td>{{sMetricItem.lastActivity | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="muted">Rate:</i></td>
                                        <td>
                                                <span ng-if="hasHourRateData(actor) && selection.metricPeriod[sMetric] == 'hour'">
                                                    <b ng-if="actor.hourRate>0" style="color: red;cursor: help;" popover="Possible performance problems: mean outcome < mean income" popover-trigger="mouseenter">&#x25B2;{{actor.hourRate}}</b>
                                                    <b ng-if="actor.hourRate<=0" style="color: green;cursor: help;" popover="Actor is OK" popover-trigger="mouseenter">&#x25BC;{{actor.hourRate}}</b>
                                                    in: <b ng-if="actor.queueState.totalInHour>=0">{{actor.queueState.totalInHour}}</b>, out: <b ng-if="actor.queueState.totalOutHour>=0">{{actor.queueState.totalOutHour}}</b>
                                                </span>

                                                <span ng-if="hasDayRateData(actor) && selection.metricPeriod[sMetric] == 'day'">
                                                    <b ng-if="actor.dayRate>0" style="color: red;" popover="Possible performance problems: mean outcome < mean income" popover-trigger="mouseenter">&#x25B2;{{actor.dayRate}}</b>
                                                    <b ng-if="actor.dayRate<=0" style="color: green;" popover="Actor is OK" popover-trigger="mouseenter">&#x25BC;{{actor.dayRate}}</b>
                                                    in: <b ng-if="actor.queueState.totalInDay>=0">{{actor.queueState.totalInDay}}</b>, out: <b ng-if="actor.queueState.totalOutDay>=0">{{actor.queueState.totalOutDay}}</b>
                                                </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><i class="muted">Stats:</i></td>
                                        <td>
                                            <div ng-if="selection.metricPeriod[sMetric] == 'hour'">
                                                Triggered: <b>{{sMetricItem.totalCountsHour || n/a}}</b> times<br />
                                                Average: <b>{{sMetricItem.meanTimeHour || n/a}}</b> ms
                                            </div>

                                            <div ng-if="selection.metricPeriod[sMetric] == 'day'">
                                                Triggered: <b>{{sMetricItem.totalCountsDay || n/a}}</b> times <br />
                                                Average: <b>{{sMetricItem.meanTimeDay || n/a}}</b> ms
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </small>
                        </div>
                    </td>
                    <td>
                        <button ng-if="actor.blocked" class="btn btn-mini" ng-click="unblockActor(actor.id)" popover="Unblock actor" popover-trigger="mouseenter">
                            <i class="icon-play-circle" ></i>
                        </button>

                        <button ng-if="!actor.blocked" class="btn btn-mini" ng-click="blockActor(actor.id)" popover="Block actor" popover-trigger="mouseenter">
                            <i class="icon-ban-circle" />
                        </button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <div style="height: 50px;">
            <div tsk-paginator generic-page="actorsPage" update-action="update()"></div>
        </div>

    </div>

</div>