<div>
    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>Actors list</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>

    <div class="well" style="margin:5px;">
        <div style="float: right;">
            <img id="loading" src="/img/ajax-loader.gif" style="display: none;"/>
            <a class="btn btn-small" ng-click="update()" popover="Refresh list" popover-trigger="mouseenter"><i class="icon-refresh"></i></a>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th style="width: 40px;">№</th>
                <th>Actor id</th>
                <th style="width: 200px;">Last active</th>
                <th style="width: 50px;">Compare</th>
            </thead>

            <tbody>
            <tr ng-repeat="actor in actorsPage.items">
                <td>
                    {{getStartIndex(actorsPage.pageNumber, actorsPage.pageSize) + $index}}
                </td>

                <td>
                    <a ng-href="#/actors/actor?actorId={{actor.actorId}}" class="btn btn-link"><i class="icon-signal" />{{actor.actorId}}</a>
                </td>
                <td>
                    {{ actor.lastActive }}
                </td>
                <td>
                    <input type="checkbox" />
                </td>
            </tr>
            </tbody>

            <tfoot>
                <td colspan="4">
                    <div tsk-paginator generic-page="processesPage" update-action="update()"></div>
                </td>
            </tfoot>

        </table>

        <div>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td style="text-align:left;">
                        <div>Total: <b>{{actorsPage.totalCount}}</b> actors</div>
                    </td>
                    <td style="text-align:right;">
                        <div>
                            <a ng-href="" class="btn btn-small" type="button"><b>Compare</b></a>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

</div>
