<div>
    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>List of all processes</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>

    <div class="well" style="margin:5px;">

        <span class="icon-question-sign" popover="Filter list by processes state." popover-trigger="mouseenter"></span><span class="header-mini">State:</span>
        <select ng-options="filter.name for filter in states" ng-model="selection.state" class="btn btn-mini" style="width: 100px;"></select><span class="caret"></span>

        <span style="margin-left: 50px;">&nbsp;</span>

        <span class="icon-question-sign" popover="Filter list using *starts with* condition for actorId of process starter task. Require refresh." popover-trigger="mouseenter"></span><span class="header-mini">ActorId:</span>
        <input ng-model="selection.type" class="input search-query"/>

        <div style="float:right;">
            <img id="loading" src="/img/ajax-loader.gif" style="display: none;"/>
            <button class="btn btn-small" ng-click="update()" popover="Refresh list" popover-trigger="mouseenter"><i class="icon-refresh"></i></button>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th style="width: 40px;">№</th>
                <th>Process id</th>
                <th>Start task</th>
                <th>Custom id</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Actions</th>
            </thead>

            <tfoot>
                <td colspan="7">
                    <div tsk-paginator generic-page="processesPage" update-action="update()"></div>
                </td>
            </tfoot>

            <tbody>
                <tr ng-if="!initialized">
                    <td colspan="6" style="text-align: center;"><img src="/img/ajax-loader.gif"/></td>
                </tr>
                <tr ng-repeat="process in processesPage.items">
                    <td>
                        {{getStartIndex(processesPage.pageNumber, processesPage.pageSize) + $index}}
                        <i ng-if="process.state == 1" class="icon-ok" popover="Process is finished" popover-trigger="mouseenter"></i>
                        <i ng-if="process.state == 0" class="icon-time" popover="Process have not been finished yet" popover-trigger="mouseenter"></i>
                        <i ng-if="process.state == 2" class="icon-exclamation-sign" popover="Process was stopped due to execution error" popover-trigger="mouseenter"></i>
                        <i ng-if="process.state == 3" class="icon-trash" popover="Process was aborted" popover-trigger="mouseenter"></i>
                    </td>
                    <td>
                        <small>
                            <a class="btn-link"
                               ng-href="#/processes/process?processId={{process.processId}}">{{process.processId}}</a>
                            <div class="muted"><b>{{ getStatusName(process.state) }}</b></div>
                        </small>
                    </td>
                    <td>
                        <a ng-href="#/processes/task?processId={{process.processId}}&taskId={{process.startTaskId}}" class="btn-link"><small>{{process.startTaskId}}</small></a>
                        <small class="muted"><b>{{ process.startTask.actorId }}</b> - <b>{{ process.startTask.method }}</b></small>
                    </td>
                    <td>
                        <small><b>{{ process.customId }}</b></small>
                    </td>
                    <td>
                        <small ng-if="process.startTime>0">
                               {{ process.startTime | date:'dd.MM.yyyy' }}
                            <i>{{ process.startTime | date:'HH:mm:ss' }}</i>
                        </small>
                    </td>
                    <td>
                        <small ng-if="process.endTime>0">
                               {{ process.endTime | date:'dd.MM.yyyy' }}
                            <i>{{ process.endTime | date:'HH:mm:ss' }}</i>
                        </small>
                    </td>
                    <td>
                        <button ng-click="addProcessToRecovery(process.processId)" class="btn btn-small"
                                popover="Submit process to recovery service" popover-trigger="mouseenter" ng-if="!wasSubmitted(process.processId)">
                            <i class="icon-retweet"></i>
                        </button>
                        <button ng-click="abortProcess(process.processId)" class="btn btn-small"
                                popover="Abort process" popover-trigger="mouseenter">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>Total: <b>{{processesPage.totalCount}}</b> processes</div>
    </div>

</div>
