<div>
    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>Task queues</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>

    <div ng-hide="!angular.isDefined(feedback)" class="err-message">Error at updating: <span>{{feedback}}</span></div>

    <div class="well" style="margin:5px;">
        <div style="float: left;">
            <span class="muted"><b>Filter: </b></span>
            <input ng-model="selection.filter" type="text" class="search-query" />
            <i class="icon-question-sign" popover="Filter queue list by *starts with* condition" popover-trigger="mouseenter" />
        </div>
        <div style="float: right;">
            <button class="btn btn-small" ng-click="refresh()" popover="Refresh list" popover-trigger="mouseenter"><i class="icon-refresh"></i></button>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th style="width: 25px">
                    <small>№</small>
                </th>
                <th>
                    <small>Name</small>
                </th>
                <th>
                    <small>Activity</small>
                </th>
                <th>
                    <small>Balance</small>
                    <select style="width:90px;" class="btn btn-mini" ng-model="selection.balancePeriod" ng-options = "bp for bp in balancePeriods" /><span class="caret"></span>
                </th>
                <th style="width: 50px">
                    <small>Size <span class="icon-question-sign" popover="Value is measured by metrics handler and could be several seconds delayed from real current size" popover-trigger="mouseenter"/></small>
                </th>
                <th>
                    <small>Actions</small>
                </th>
            </thead>

            <tfoot>
                <td colspan="6">
                    <tsk-paginator generic-page="queuesPage" update-action="update()" store="queue.list.pagination"></tsk-paginator>
                </td>
            </tfoot>

            <tbody>
                <tr ng-if="!initialized">
                    <td colspan="5" style="text-align: center;"><img src="/img/ajax-loader.gif"/></td>
                </tr>
                <tr ng-if="initialized" ng-repeat="queue in queuesPage.items">
                    <td>
                        <small>
                            {{getStartIndex(queuesPage.pageNumber, queuesPage.pageSize) + $index}}
                            <i class="icon-flag" ng-if="queue.local" popover="Owned by current node" popover-trigger="mouseenter" ></i>
                            <i class="icon-globe" ng-if="!queue.local" popover="Owned by remote node" popover-trigger="mouseenter"></i>
                        </small>
                    </td>
                    <td>
                        <small>
                            <b>{{ withNewLineOnDots(queue.name) }}</b>
                            <!--<a clas="btn btn-link" style="cursor: pointer;"-->
                           <!--ng-href="#/queues/queue/{{encodeURI(queue.name)}}"><b>{{ withNewLineOnDots(queue.name) }}</b></a>-->
                        </small>
                    </td>
                    <td>
                        <div style="width: 100%;" ng-if="queue.lastActivity > 0">
                            <small>
                                <i class="icon-question-sign" popover="Last time an actor tried to poll task from the queue" popover-trigger="mouseenter" /><i class="muted">Last polled: </i>
                                <b>{{queue.lastActivity | date:'dd.MM.yyyy HH:mm:ss'}}</b>
                            </small>
                        </div>
                        <div style="width: 100%;" ng-if="queue.lastPolledTaskEnqueueTime > 0">
                            <small>
                                <i class="icon-question-sign" popover="Enqueue time for the last successfully polled task for the queue" popover-trigger="mouseenter" /><i class="muted">Effective time:</i>
                                <b>{{ queue.lastPolledTaskEnqueueTime | date:'dd.MM.yyyy HH:mm:ss' }}</b>
                            </small>
                        </div>
                    </td>
                    <td>
                        <small ng-if="selection.balancePeriod == 'Last hour'">
                            In: <b ng-if="queue.inHour>=0">{{queue.inHour}}</b>, out: <b ng-if="queue.outHour>=0">{{queue.outHour}}</b>
                        </small>

                        <small ng-if="selection.balancePeriod == 'Last day'">
                            In: <b ng-if="queue.inDay>=0">{{queue.inDay}}</b>, out: <b ng-if="queue.outDay>=0">{{queue.outDay}}</b>
                        </small>

                        <hr style="margin: 1px 5px 1px 5px;padding:0;"/>
                        <small class="muted">By <b>{{queue.nodes || 0}}</b> nodes</small>
                    </td>
                    <td>
                        <b>
                            {{ queue.count }}
                            <span ng-if="hasCurrentSizeValue($index)" class="muted" style="font-size: 10px;">/{{ realSizes[$index] }}</span>
                        </b>
                    </td>
                    <td>
                        <button ng-click="showRealSize(queue.name, $index)" class="btn btn-mini"
                                popover="Show current real size of the queue"
                                popover-trigger="mouseenter">
                            <span class="icon-info-sign" />
                        </button>

                        <button ng-click="showStorageRealSize(queue.name, $index)" class="btn btn-mini"
                                popover="Show current size of the storage for this queue. Storage contains tasks that would be enqueued in future."
                                popover-trigger="mouseenter">
                            <span class="icon-hdd" />
                        </button>

                        <button ng-click="clear(queue.name)" class="btn btn-mini"
                                popover="Remove all elements from the queue"
                                popover-trigger="mouseenter" >
                            <span class="icon-eject" />
                        </button>

                        <button ng-click="remove(queue.name)" class="btn btn-mini"
                                popover="Remove the queue"
                                popover-trigger="mouseenter">
                            <span class="icon-trash" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="text-align: left;width:50%">
                        <div>Total: <b>{{totalTasks()}}</b> tasks in <b>{{queuesPage.items.length}}</b> queues</div>
                    </td>
                    <td style="text-align: right;">
                        <div tsk-autorefresh update-action="update()" refresh-rate="selection.initialRefreshRate"></div>
                    </td>
                    <td style="text-align: left;width: 30px;">
                        <img src="/img/loader-arrows.gif" style="margin: 5px;display: none;" id="loading" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
