<div>
    <table width="100%" class="well">
        <tr>
            <td style="text-align: left; padding:10px;">
                <h4>List of all tasks</h4>
            </td>
            <td style="text-align: right;"><a class="btn btn-link" ng-click="back()">Back</a></td>
        </tr>
    </table>


    <div ng-show="angular.isDefined(feedback)" class="err-message">Error at updating: <span>{{feedback}}</span></div>

    <div class="well" style="margin:5px;">
        <div style="float:left">
            <div tsk-autorefresh update-action="update()"></div>
        </div>

        <div style="float: right;">
            <img id="loading" src="/img/ajax-loader.gif" style="display: none;"/>
            <a class="btn btn-small" ng-click="update()" popover="Refresh list" popover-trigger="mouseenter"><i class="icon-refresh"></i></a>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <th style="width: 50px">№</th>
                <th>UUID</th>
                <th>Process UUID</th>
                <th>Type</th>
                <th>ActorId</th>
                <th>Method</th>
                <th>Arguments</th>
            </thead>

            <tbody>
            <tr ng-if="!initialized">
                <td colspan="7" style="text-align: center;"><img src="/img/ajax-loader.gif"/></td>
            </tr>
            <tr ng-repeat="task in tasksPage.items">
                    <td>
                        {{getStartIndex(tasksPage.pageNumber, tasksPage.pageSize) + $index}}
                    </td>
                    <td>
                        <small><a clas="btn btn-link" style="cursor: pointer;"
                           ng-href="#/processes/task?processId={{encodeURI(task.processId)}}&taskId={{encodeURI(task.taskId)}}">{{task.taskId}}</a></small>
                    </td>
                    <td>
                        <small><a clas="btn btn-link" style="cursor: pointer;"
                           ng-href="#/processes/process?processId={{encodeURI(task.processId)}}">{{task.processId}}</a></small>
                    </td>
                    <td>
                        <small><b>{{task.type}}</b></small>
                    </td>
                    <td>
                        <small>{{task.actorId}}</small>
                    </td>
                    <td>
                        <small><b>{{task.method}}</b></small>
                    </td>
                    <td>
                        <div style="width: 200px;overflow: auto;">
                            <small>{{task.args}}</small>
                        </div>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <td colspan="7">
                    <div tsk-paginator generic-page="tasksPage" update-action="update()"></div>
                </td>
            </tfoot>

        </table>

        <div>Total: <b>{{tasksPage.totalCount}}</b> tasks</div>
    </div>
</div>