<div>
    <h4>List of all tasks</h4>

    <div style="float: left;">
        <a class="btn btn-link" ng-click="update()">Refresh</a>
        <img id="loading" src="/img/ajax-loader.gif" style="display: none;" />
    </div>
    <div style="float:right">
        <div tsk-autorefresh update-action="update()"></div>
    </div>

    <div ng-show="angular.isDefined(feedback)" class="err-message">Error at updating: <span>{{feedback}}</span></div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th style="width: 50px">№</th>
            <th>UUID</th>
            <th>Process UUID</th>
            <th>Type</th>
            <th>ActorId</th>
            <th>Method</th>
            <th>Arguments</th>
        </thead>

        <tbody>
            <tr ng-repeat="task in tasksPage.items">
                <td>
                    {{getStartIndex(tasksPage.pageNumber, tasksPage.pageSize) + $index}}
                </td>
                <td>
                    <small><a clas="btn btn-link" style="cursor: pointer;"
                       ng-href="#/processes/task?processId={{encodeURI(task.processId)}}&taskId={{encodeURI(task.taskId)}}">{{task.taskId}}</a></small>
                </td>
                <td>
                    <small><a clas="btn btn-link" style="cursor: pointer;"
                       ng-href="#/processes/process?processId={{encodeURI(task.processId)}}">{{task.processId}}</a></small>
                </td>
                <td>
                    <small><b>{{task.type}}</b></small>
                </td>
                <td>
                    <small>{{task.actorId}}</small>
                </td>
                <td>
                    <small><b>{{task.method}}</b></small>
                </td>
                <td>
                    <small>{{task.args}}</small>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <td colspan="7">
                <div tsk-paginator generic-page="tasksPage" update-action="update()"></div>
            </td>
        </tfoot>

    </table>

    <div>Total: <b>{{tasksPage.totalCount}}</b> tasks</div>

</div>