<div page-header="Interrupted tasksgroups" ng-dblclick="$debug = !$debug">
    <div ng-if="$debug">
        <h6>{{ formParams }}</h6>
        <h6>{{ resourceParams }}</h6>
        <h6>{{ groups }}</h6>
    </div>
</div>

<div page-form="Interrupted task groups search form">
    <div class="control-group">
        <label class="control-label">
            Date period <a ng-click="formParams.withTime = !formParams.withTime">(with time)</a>:
        </label>
        <table class="controls">
            <tr>
                <td class="inline-label">From:<span input-date="formParams.dateFrom"></span></td>
                <td ng-if="formParams.withTime"><span input-time="formParams.dateFrom"></span></td>
                <td class="inline-label">To:<span input-date="formParams.dateTo"></span></td>
                <td ng-if="formParams.withTime"><span input-time="formParams.dateTo"></span></td>
            </tr>
        </table>
    </div>
    <fieldset class="scheduler-border">
        <!--<legend class="scheduler-border">Filtered by:</legend>-->
        <div class="control-group">
            <label class="control-label" for="starter">{{ groups.starter.label }}:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" id="starter" placeholder="ru.taskurotta.Example#1.0"
                       ng-model="formParams.starterId" on-enter="search()"/>
                <i icon-info="{{ groups.starter.desc }}" model="formParams.starterId" remove="formParams.starterId = null"></i>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="actor">{{ groups.actor.label }}:</label>
            <div class="controls">
                <input class="input-xlarge" type="text" id="actor" placeholder="ru.taskurotta.Example#1.0"
                       ng-model="formParams.actorId" on-enter="search()"/>
                <i icon-info="{{ groups.actor.desc }}" model="formParams.actorId" remove="formParams.actorId = null"></i>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="exception">{{ groups.exception.label }}:</label>
            <div class="controls">
                <input class="input-large" type="text" id="exception" placeholder="ru.taskurotta.ExampleException"
                       ng-model="formParams.exception" on-enter="search()"/>
                <i icon-info="{{ groups.exception.desc }}" model="formParams.exception" remove="formParams.exception = null"></i>
            </div>
        </div>
    </fieldset>
    <div class="control-group">
        <label class="control-label" for="group">Grouped by:</label>
        <div class="controls">
            <select class="input-mini" id="group" ng-model="formParams.group" style="width: 150px"
                    ng-options="key as key for (key , group) in (groups | orderBy:'+order')">

            </select>
            <button class="btn" ng-click="search()">Search</button>
        </div>
    </div>
</div>

<page-message></page-message>

<div class="well" >
    <list-reload model="interruptedResource">
    </list-reload>

    <table class="table table-striped" style="margin-right: 30px;">
        <thead>
        <tr>
            <td style="width: 25px;">
                №
            </td>
            <td>
                {{ groups[resourceParams.group].label }}
            </td>
            <td ng-hide="groups.starter.selected"  style="width: 200px;">
                {{ groups.starter.name }}:
            </td>
            <td ng-hide="groups.actor.selected" style="width: 200px;">
                {{ groups.actor.name }}:
            </td>
            <td ng-hide="groups.exception.selected" style="width: 200px;">
                {{ groups.exception.name }}:
            </td>
            <td style="width: 100px;">
                Total count:
            </td>
            <td style="width: 100px; text-align:center;">
                Action
            </td>
        </tr>
        </thead>
        <tbody>
             <tr ng-repeat="group in interruptedModel.items">
                <td style="width: 25px;">
                    <small>{{ interruptedModel.$startIndex + $index }}</small>
                </td>
                <td>
                    <a ui-sref="interrupted(joinFilterParam({},group.name))" class="btn-link">
                        <span ng-bind-html="group.name | lineWrap"></span></a>
                </td>

                <td ng-hide="groups.starter.selected" style="width: 200px;">
                    <a ui-sref="interrupted({group:'starter'})" popover="{{ groups.starter.regroup }}" popover-trigger="mouseenter" class="btn-link">
                        <i class="icon-random" style="cursor: pointer;margin-right:5px;"></i>
                        {{ groups.starter.name }}</a> in group:
                    <a ui-sref="interrupted(joinFilterParam({group:'starter'},group.name))" class="btn-link" popover="List all group's tasks" popover-trigger="mouseenter">
                        <b>{{group.startersCount}}</b></a>
                </td>
                <td ng-hide="groups.actor.selected" style="width: 200px;">
                    <a ui-sref="interrupted({group:'actor'})" popover="{{ groups.actor.regroup }}" popover-trigger="mouseenter" class="btn-link">
                        <i class="icon-random" style="cursor: pointer;margin-right:5px;"></i>
                        {{ groups.actor.name }}</a> in group:
                    <a ui-sref="interrupted(joinFilterParam({group:'actor'},group.name))" class="btn-link" popover="List all group's tasks" popover-trigger="mouseenter">
                        <b>{{group.actorsCount}}</b></a>
                </td>
                <td ng-hide="groups.exception.selected" style="width: 200px;">
                    <a ui-sref="interrupted({group:'exception'})" popover="{{ groups.exception.regroup }}" popover-trigger="mouseenter" class="btn-link">
                        <i class="icon-random" style="cursor: pointer;margin-right:5px;"></i>
                        {{ groups.exception.name }}</a> in group:
                    <a ui-sref="interrupted(joinFilterParam({group:'exception'},group.name))" class="btn-link" popover="List all group's tasks" popover-trigger="mouseenter">
                        <b>{{group.exceptionsCount}}</b></a>

                </td>
                <td style="width: 100px;">
                    Total: <a ui-sref="interrupted_list($stateParams)" popover="List all tasks in the group" popover-trigger="mouseenter">
                    <b>{{group.total}}</b></a>
                </td>
                <td style="width: 100px; text-align:center;">
                    <button ng-click="restartGroup(group)" popover="Submit restart task for all tasks in the group" popover-trigger="mouseenter">
                        <i class="icon-retweet"></i></button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="7">
                    <list-paginator model="interruptedModel">
                    </list-paginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <page-loader ng-if="!interruptedModel" model="interruptedResource"></page-loader>

</div>