<!-- Top navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
            </button>
            <a class="brand" href="#">Console navigation: </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ui-sref-active="active">
                        <a ui-sref="home">Home</a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="queues">Queues</a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="actors">Actors</a>
                    </li>

                    <li class="dropdown" ui-sref-active="active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">List</li>
                            <li><a ui-sref="tasks({iterationCount:0})">Tasks...</a></li>
                            <li><a ui-sref="tasks({iterationCount:5})">Hovering tasks</a></li>
                            <li class="nav-header">Interrupted</li>
                            <li><a ui-sref="interrupted">Interrupted tasks groups...</a></li>
                            <li><a ui-sref="interrupted_list">Interrupted tasks list...</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" ui-sref-active="active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Processes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">List</li>
                            <li><a ui-sref="processes">Processes...</a></li>
                            <li class="nav-header">Create</li>
                            <li><a ui-sref="process_create">Create process</a></li>
                            <li class="nav-header">Work off</li>
                            <li><a ui-sref="processes.gc">Garbage collect(dev)</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" ui-sref-active="monitoring">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Monitoring<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="metrics">Metrics</a></li>
                            <li><a ui-sref="recovery">Recovery(dev)</a></li>
                        </ul>
                    </li>

                    <li ui-sref-active="active">
                        <a  ui-sref="schedules">Schedule</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
